<md-dialog aria-label="modal" layout="column" layout-padding ng-cloak>
  <md-content class="md-no-momentum">
    <md-input-container class="md-icon-float md-block">
      <md-icon class="material-icons name">account_box</md-icon>
      <input required ng-model="auth.user" type="text" placeholder="Username">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <md-icon class="material-icons name">input</md-icon>
      <input required ng-model="auth.pass" type="password" placeholder="Password">
    </md-input-container>

    <md-button class="md-raised md-primary" ng-click="authenticate()">Login</md-button>
</md-dialog>
