<md-dialog aria-label="modal">
  <md-card ng-model="showData" ng-click="getCast(showData.show._links.self.href)">
    <md-card-header md-colors="::{backgroundColor: 'primary-700'}">
      <md-card-header-text>
        <span class="md-title">{{showData}}</span>
        <span class="md-subhead">{{showData.show.summary}}</span>
      </md-card-header-text>
    </md-card-header>

    <md-card-title>
      <md-card-title-media>
        <img ng-src="{{showData.show.image.medium}}" class="card-media">
      </md-card-title-media>
    </md-card-title>
  </md-card>

  <div class='md-padding' layout="row" layout-align="center center" layout-wrap>
    <md-card ng-repeat="cast in casts">
      <md-card-header md-colors="::{backgroundColor: 'primary-700'}">
        <md-card-avatar>
          <img class="md-user-avatar" src="{{cast.person.image.medium}}" />
        </md-card-avatar>

        <md-card-header-text>
          <span class="md-title">{{cast.person.name}}</span>
          <span class="md-subhead">{{cast.character.name}}</span>
        </md-card-header-text>
      </md-card-header>

      <md-card-title>
        <md-card-title-media>
          <img ng-src="{{cast.character.image.medium}}" class="card-media">
        </md-card-title-media>
      </md-card-title>
    </md-card>
  </div>
</md-dialog>
