<md-content layout="column" layout-align="center center">
  <md-card flex>
    <md-card-header md-colors="::{backgroundColor: 'accent-700'}">
      <md-card-header-text>
        <span class="md-title">Timestamp Schedule</span>
      </md-card-header-text>
    </md-card-header>

    <md-card-title>
      <md-card-title-media layout="column" layout-align="center center">
        <iframe width="775" height="525" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTx1KoZbuX4SU4iqRv86L7wd56Ns7eBSTUyMFsXm-aicw45ds-sMbtCAJ4kYt5DgecigMpeVFB_haVh/pubhtml?gid=1161877053&single=true&range=A1:H20"></iframe>
      </md-card-title-media>
    </md-card-title>
  </md-card>
</md-content>
