<md-content flex class="md-padding" layout="column" layout-align="center center">
  <md-card flex>
    <md-card-header md-colors="::{backgroundColor: 'accent-700'}">
      <md-card-header-text>
        <span class="md-title">Timestamp</span>
      </md-card-header-text>
    </md-card-header>

    <md-card-title>
      <md-card-title-media layout="row" layout-align="end center">
        <iframe width="800" height="400" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTx1KoZbuX4SU4iqRv86L7wd56Ns7eBSTUyMFsXm-aicw45ds-sMbtCAJ4kYt5DgecigMpeVFB_haVh/pubchart?oid=211147516&format=interactive"></iframe>
      </md-card-title-media>
    </md-card-title>
  </md-card>

  <md-card flex>
    <md-card-header md-colors="::{backgroundColor: 'accent-700'}">
      <md-card-header-text>
        <span class="md-title">Transcription</span>
      </md-card-header-text>
    </md-card-header>

    <md-card-title>
      <md-card-title-media layout="row" layout-align="end center">
        <iframe width="800" height="400" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTko3lnGOODf0fpWGOWVtUPZXBJ34Hb5u156JFlPc6lEK1oUuyAqf_ZXtLB1od2D_9UWUB7mxQl3jPx/pubchart?oid=491439351&amp;format=interactive"></iframe>
      </md-card-title-media>
    </md-card-title>
  </md-card>
</md-content>
