<md-content flex ng-controller="timestampCtrl" ng-cloak>
  <md-card>
    <video src="http://storage.googleapis.com/bb-cropped/cropped/qhc-bB_snj4.mp4" controls></video>
    <md-card-title>
      <md-card-title-text>
        <!-- <span class="md-headline">Test Link</span> -->
      </md-card-title-text>
    </md-card-title>

    <md-card-actions layout layout-align="start center">
      <div layout="column" flex="80">
        <md-input-container class="md-icon-float md-accent">
          <label>Phrase</label>
          <md-icon class="material-icons">video_label</md-icon>
          <textarea ng-model="phrase" md-maxlength="200" rows="2" md-select-on-focus></textarea>
          <md-icon ng-show="phrase.length > 1" ng-click="phrase = ''" class="material-icons">clear</md-icon>
        </md-input-container>

        <div layout layout-align="start center">
          <md-input-container class="md-icon-float md-accent">
            <md-icon class="material-icons">timer</md-icon>
            <input type="number" step="0.1" placeholder="Start" ng-model="startTime">
          </md-input-container>

          <md-input-container class="md-icon-float md-accent">
            <md-icon class="material-icons">timer_off</md-icon>
            <input type="number" step="0.1" placeholder="End" ng-model="endTime">
          </md-input-container>
        </div>
      </div>

      <md-card-icon-actions layout layout-align="end center">
        <md-button class="md-icon-button md-primary" aria-label="play">
          <md-icon class="material-icons">play_arrow</md-icon>
        </md-button>

        <md-button class="md-icon-button md-primary" aria-label="submit">
          <md-icon class="material-icons">done</md-icon>
        </md-button>

        <md-button class="md-icon-button md-accent" aria-label="submit">
          <md-icon class="material-icons">cancel</md-icon>
        </md-button>
      </md-card-icon-actions>
    </md-card-actions>

    <md-card-content>
      <table align=center>
        <tr>
          <td>
            <p align=center>
              <textarea rows=30 cols=100 style="display:none;"></textarea>
            </p>
          </td>
          <td>
            <textarea id="correct_phrases" rows=30 cols=40 style="display:none;"></textarea>
          </td>
          <td valign=top>
            <div id="broken_phrases"></div>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <p align=center>
              <md-button class="md-icon-button md-primary">Modify</md-button>
            </p>
          </td>
          <td></td>
        </tr>
      </table>

      <md-input-container class="md-icon-float md-accent">
        <md-icon class="material-icons">account</md-icon>
        <input placeholder="Enter your name" ng-model="name">
      </md-input-container>

      <md-input-container class="md-icon-float md-accent">
        <md-icon class="material-icons">account</md-icon>
        <input placeholder="Enter hashtags" ng-model="hashtags">
      </md-input-container>
      <br>
      <br>
      <md-button class="md-icon-button md-primary">Mark as Complete</md-button>
    </md-card-content>
  </md-card>
</md-content>
